html
    head
        link(rel='stylesheet' href='css/app.css')
        title Resume 
    body        
        main
            h1 Okikijesu Elewude
            .sub
                p +2348098817028 | <a href="mailto: helewud@gmail.com">helewud@gmail.com</a> | <a href="https://github.com/helewud">Github</a> | Kogi, Nigeria
            .about
                .sub
                    hr

                    p I’m a Software Engineer and Graphic Designer focused on developing backend systems for web applications. I’m enthusiastic about sharing knowledge from my path of learning and I’m passionate about researching data security.
                   

            .skills
                h3 Skills
                .sub
                    hr

                    p HTML, CSS, Javascript, Node.js, Python, WordPress CMS, Git, Corel Draw, Lightroom, Canva, Figma, Photography, Graphics Design, Content Management, and Digital Marketing.
                  

            .work-experience
                h3 Work Experience
                .sub
                    hr

                    h5 Hotels.ng Internship 2019 - Software Engineering Intern
                    small APRIL 2019, Lagos, Nigeria.
                    p I interned at the Hotels.ng internship program, where I learned to collaborate with other developers across the world using tools like Github, Figma, and Cloudinary. I built mini projects and contributed to large scale products.

                    h5 Mangoo - Digital Marketer
                    small MAY 2018 - NOVEMBER 2018, Akure, Nigeria.
                    p Mangoo is a digital ticketing platform keen on selling tickets and providing awareness for events happening on Nigerian campuses. I worked as a Digital Marketer for the company.

                    h5 Eldad & Medad Media - Assistant Media Manager
                    small JULY 2016 - PRESENT, Ibadan, Nigeria.
                    p Eldad & Medad Media is a media platform that focuses on graphics design, photography, and artworks. I worked as an Assistant Media Manager at the firm.

                    h5 Developer Circles from Facebook - Logistics and Media Manager
                    small August 2019 - PRESENT, Kogi, Nigeria.
                    p I volunteer as a Media and Logistics Manager for Developer's Circle by Facebook, Lokoja Community for Lokoja and also a member of the organizing committee.
               

            .education
                h3 Education
                .sub
                    hr

                    h5 FavCode54 (USA) - Student Coder
                    small JUNE, 2018  - AUGUST, 2018. 
                    p Web Development

                    h5 Federal University, Lokoja (Nigeria) - Undergraduate
                    small SEPTEMBER, 2017 - PRESENT.
                    p BSC, Computer Science.
                     

        footer
            .send
                hr
                h3 Request a copy of my Resume
                form(method="POST")
                    label(for='email') Email
                    input(type='email' id='email' name='email')

                    input(type='submit' value='Submit')

                small Proudly sponsored by: <span class='sponsors'> <a href='https://https://hng.tech/'>HNG</a> <a href='https://internship.zuri.team/'>Zuri</a> <a href='https://https://ingressive.org/'>I4g</a> <span>
            
                div
                    img(src="img/logo.png", alt="sponsors_logo")